In [1]:
import numpy as np
import pandas as pd

In [2]:
observations = 1000
x = np.random.uniform(low=-10,high=10,size=(observations,1)  )
z = np.random.uniform(low=-10,high=10,size=(observations,1)  )
noice = np.random.uniform(low=-.1,high=1,size=(observations,1)  )
#display(x,z)

In [3]:
inputvar = np.column_stack((x,z))
df_inputvar = pd.DataFrame(inputvar)
#df_inputvar
print(inputvar.shape)

(1000, 2)

In [7]:
target = 2*x + 3*z + 5 + noice
df_target = pd.DataFrame(target)
df_target

             0
0   -30.084944
1     0.377256
2     0.672658
3    -1.190224
4     5.569497
..         ...
995  19.878853
996  23.119062
997   9.768927
998 -14.169352
999  22.679029

[1000 rows x 1 columns]